

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    font-family: 'Sawarabi Mincho', serif;
    color: #333;
    padding: 1rem;
}

.message-box {
    background-color: #fff0f5; /* ラベンダーブラッシュ */
    border: 1px solid #add8e6; /* ライトブルー */
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.message-box a {
    color: #0056b3; /* ブルー */
    text-decoration: none;
    font-weight: bold;
}

.message-box a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .message-box {
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .message-box {
        padding: 1rem;
        font-size: 0.9rem;
    }
}

body {
	text-align:center;
}


.table_design09 {
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 1rem;
  padding: 1rem;
/*  width: 100%;*/
/*  max-width: 1500px;*/
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
.table_design09 tr {
  background-color: #e6f1f6;
}
.table_design09 tr:nth-child(even) {
  background-color: #fff;
}
.table_design09 th, .table_design09 td {
  padding: 1em;
}
.table_design09 thead th {
  background-color: #4d9bc1;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.table_design09 tbody th {
  color: #4d9bc1;
}
@media screen and (max-width: 787px) {
  .table_design09 {
    border-radius: 0;
    text-align: left;
  }
  .table_design09 thead {
    display:none;
  }
  .table_design09 tr {
    background-color: unset;
  }
  .table_design09 th, .table_design09 td {
    display: block;
    border: 0;
    border-bottom: 1px solid #4d9bc1;
  }
  .table_design09 tbody th{
    background: #4d9bc1;
    color:#fff;
    text-align: center;
  }
  .table_design09 td::before{
    content: attr(data-label);
    background-color: #e6f1f6;
    font-weight: bold;
    display: inline-block;
    width: 20%;
    min-width: 4em;
    text-align: center;
    margin-right: 0.5em;
    padding: 4px;
    border-radius: 100vh;
  }
}